			<% form_tag :action => "create" do %>
				<fieldset>
					<dl class="formfields clearfix">
						<dt><%= label_tag 'username', 'Username:' %></dt>
						<dd><%= text_field_tag 'username' %></dd>
						<dt><%= label_tag 'password', 'Password:' %></dt>
						<dd><%= password_field_tag %></dd>
					</dl>
					<p class="centertext">
						<%= submit_tag "Login" %>
					</p>
				</fieldset>
			<% end -%>
