<p>
  <b>User name:</b>
  <%=h @comment.user_name %>
</p>

<p>
  <b>User site:</b>
  <%=h @comment.user_site %>
</p>

<p>
  <b>User email:</b>
  <%=h @comment.user_email %>
</p>

<p>
  <b>Comment text:</b>
  <%=h @comment.comment_text %>
</p>

<p>
  <b>User ip:</b>
  <%=h @comment.user_ip %>
</p>

<p>
  <b>User agent:</b>
  <%=h @comment.user_agent %>
</p>

<p>
  <b>Referrer:</b>
  <%=h @comment.referrer %>
</p>

<p>
  <b>Post:</b>
  <%=h @comment.post %>
</p>

<p>
  <b>Approved:</b>
  <%=h @comment.approved %>
</p>


<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %> |
<%= link_to 'Back', post_comments_path( @post ) %>
