%h1 Editing category
= form_for [:blog, @category] do |f|
  = render 'model_errors', :target => @category
  = field_set_tag do
    %dl
      %dt= f.label :name
      %dd= f.text_field :name
      %dt= f.label :slug
      %dd= f.text_field :slug
    %p= f.submit 'Update'

= link_to 'Show', [:blog, @category]
|
= link_to 'Back', blog_categories_path
