= div_for(comment) do
  %strong= comment.author_site ? link_to(comment.author_name, comment.author_site) : comment.author_name
  - unless comment.new_record?
    = comment.created_at.to_s(:post_date)
  = simple_format(comment.comment_text)
  - unless comment.new_record?
    - if admin?
      = link_to 'Delete', [:blog, comment], confirm: 'Are you sure?', method: :delete
