			<% div_for post do %>
				<h2><%= link_to_unless_current h(post.title), post.url %></h2>
				<span class="dateline"><%= post.created_at.to_s( :long_ordinal ) %></span>
				<%= render_text( post.body ) %>
				<% if admin? %>
					<%= link_to 'Edit', edit_post_path( post ) %>
				<% end %>
				<p>
					Posted by <%= link_to post.user.name, root_url %>
				</p>
			<% end %>
