<% if @preview -%>
<%= render :partial => "shared/post_preview" %>
<% end -%>
<% form_for [:blog, @post] do |f| %>
	<fieldset>
		<%= f.error_messages %>
		<p>
		<%= f.label :title, 'Title:' %> <%= f.text_field :title, :size => 60 %>
		<%- if @post.new_record? %>
		<br />
		<%= f.label :category, 'Category:' %> <%= f.collection_select :category_id, @categories, :id, :name %>
		<%- end %>
		</p>
		<p>
		<%= f.label :body, 'Body:', :class => 'invisible' %>
		<%= f.text_area :body, :size => '80x30' %>
		<p class="centertext">
			<%= f.submit button_text %>
			<%= f.submit 'Preview', :id => 'preview_button', :name => 'preview_button' %>
		</p>
	</fieldset>
<% end %>
