<% form_for( @post ) do |f| %>
	<fieldset>
		<%= f.error_messages %>
		<dl class="formfields clearfix">
			<dt><%= f.label :title %></dt>
			<dd><%= f.text_field :title %></dd>
			<dt><%= f.label :body %></dt>
			<dd><%= f.text_area :body %></dd>
		</dl>
		<p class="centertext">
			<%= f.submit 'Create' %>
		</p>
	</fieldset>
<% end %>

<%= link_to 'Back', posts_path %>
